# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/

# Database
db.sqlite3

# Exclude Django migration files
#**src/books/migrations/
#**/__pycache__/
#**/migrations/
#migrations

# Static folder at project root
/static/
